@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Fugaz+One&family=Kanit:wght@500&family=Rubik:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Rye&display=swap');

:root {
  --primary-color: #fff0f3;
  --secondary-color: #ffb3c1;
  --text-color: #ffffff;
  --nav-color: #1b263b;
  --alert-color: #d62828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Kanit', sans-serif;
  color: var(--nav-color);
  background: url("../ColorfulTriangles.jpg") no-repeat center center/cover;
}

.nav-brand {
  font-size: xx-large;
}

img {
  width: 80%;
  object-fit: contain;
}

nav {
  text-align: center;
  width: 100%;
  padding: 1.5rem;
  /* color: var(--text-color); */
  /* background-color: var(--nav-color); */
}

main {
  height: 90vh;
}
footer {
  height: 10vh;
}

.footer-links li {
  display: inline-block;
  margin: 0.6rem 0.2rem;
}
.footer-links li a {
  text-decoration: none;
  color: var(--nav-color);
  transition: color 0.4s ease;
}
.footer-links li a:hover {
  color: #09121d;
}
input[type="number"],
input[type="date"] {
  display: block;
  margin: auto;
  height: 2.5rem;
  width: 90%;
  max-width: 300px;
  padding: 0.5rem;
  font-size: x-large;
  color: var(--nav-color);
  background-color: var(--primary-color);
  border: 1px solid var(--nav-color);
  border-radius: 5px;
  text-align: center;
}
li{
  text-decoration: none;
  list-style: none;
}
a{
  text-decoration: none;
}
.container {
  width: 100%;
  padding: 1rem;
}

.fluid-container {
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
.card-glass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
footer.card-glass {
  border-radius: 10px 10px 0 0;
}

.box {
  margin: 1rem;
  text-align: center;
}

button,
.btn {
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-primary {
  color: var(--text-color);
  background-color: var(--primary-color);
  border: 1px solid var(--text-color);
}
.btn-primary:hover {
  color: var(--text-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--text-color);
}

.btn-secondary {
  color: var(--text-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}
.btn-secondary:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
  border: 1px solid var(--text-color);
}

.btn-alternate {
  color: var(--text-color);
  background-color: #c9184a;
  border: 1px solid var(--text-color);
}

.btn-alternate:hover {
  color: var(--nav-color);
  background-color: var(--text-color);
  border: 1px solid var(--nav-color);
}

#errorMsg {
  display: block;
  color: red;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}
.notVisible,
#errorMsg.notVisible {
  visibility: hidden;
}

.flex-box {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
nav.flex-box {
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .flex-box {
    flex-flow: column;
    gap: 1rem;
  }
}
