input[type="number"] {
  display: inline-block;
  width: 20%;
}
a.btn {
  /* height: 100%; */
  padding: 0.5rem 2rem;
  margin: auto;
  text-decoration: none;
}

section.flex-box {
  flex-flow: column;
  gap: 1rem;
}
#input-section {
  margin: 0 auto;
}
#output-section {
  text-align: center;
}

#checkBtn {
  margin: auto;
}
@media all and (max-width: 768px) {
    
    input[type="number"]{
        width: 70%;
        text-align: center;
    }
}
